body {
    font-family: "Lato", sans-serif;
    background-color: #eeeeee;
  }
  
  .main {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
  }
  
  /* ======== Header ========*/
  #header {
    display: flex;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 15px 20px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: #eeeeee;
  }
  
  .logo {
    display: flex;
  }
  
  .logo img {
    width: 50%;
    border-radius: 50%;
  }
  
  #nav-bar {
    display: flex;
    flex-grow: 1;
    min-height: 80px;
    align-items: center;
  }
  
  #nav-bar ul {
    text-align: center;
    padding: 0;
  }
  
  #nav-bar ul li {
    display: block;
    margin-bottom: 20px;
  }
  
  #nav-bar ul li a {
    color: #000000;
    font-size: 20px;
    text-decoration: none;
  }
  
  /* ======== Form ========*/
  .form {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 250px;
  }
  
  .form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 430px;
    width: 100%;
  }
  
  .form form input {
    display: block;
  }
  
  .form form input:first-child {
    margin-bottom: 20px;
    max-width: 300px;
    background-color: #ffffff;
    padding: 5px;
    width: 100%;
  }
  
  .form form input:last-child {
    margin-bottom: 20px;
    background-color: #f1c40f;
    padding: 4px 20px;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 4px;
  }
  
  /* ======== Features ========*/
  #features {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  #features .card {
    display: flex;
    align-items: center;
  }
  
  #features .card .icon {
    max-width: 100px;
    width: 100%;
    color: #ff8c00;
    display: none;
  }
  
  #features .card .content {
    flex-grow: 1;
    text-align: center;
  }
  
  /* ======== How it works ========*/
  #how-it-works {
    max-width: 100%;
    margin: 50px auto;
  }
  
  /* ======== Pricing ========*/
  #pricing {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  #pricing .card {
    margin: 0 auto;
    margin-bottom: 15px;
    border: 1px solid #000;
    max-width: 340px;
    width: 100%;
    border-radius: 4px;
    text-align: center;
  }
  
  #pricing .card h2 {
    background-color: #dddddd;
    color: black;
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    margin-bottom: 15px;
  }
  
  #pricing .card strong {
    font-size: 24px;
  }
  
  #pricing .card button {
    border: 0;
    margin: 15px 0;
    background-color: #f1c40f;
    padding: 8px 20px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 24px;
  }
  
  /* ======== Footer ========*/
  footer {
    padding: 20px;
    margin-top: 30px;
    text-align: center;
    background-color: #ddd;
  }
  
  footer > ul {
    padding: 0;
  }
  
  footer > ul li {
    display: inline;
  }
  
  footer > ul li:not(last-child) {
    margin-right: 10px;
  }
  
  footer > ul li a {
    color: #000;
    text-decoration: none;
  }
  
  /* ======== Media query ========*/
  @media (min-width: 550px) {
    #features .card .icon {
      display: block;
    }
  
    #features .card .content {
      text-align: left;
    }
  }
  
  @media (min-width: 600px) {
    #header {
      flex-direction: row;
      left: 5%;
      right: 5%;
    }
  
    #nav-bar ul {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
  
    #nav-bar ul li {
      display: inline;
      margin-right: 50px;
    }
  
    #nav-bar ul li:last-child {
      margin-right: 0;
    }
  }
  
  @media (min-width: 800px) {
    #pricing {
      flex-direction: row;
      align-self: center;
    }
  
    #pricing .card:not(last-child) {
      margin-right: 15px;
    }
  }
  